<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Balance_Blog::blog_content" title="Blog" module="Balance_Blog" sortOrder="50" parent="Magento_Backend::content" resource="Balance_Blog::blog_content" />
        <add id="Balance_Blog::post" title="Posts" module="Balance_Blog" sortOrder="0" parent="Balance_Blog::blog_content" action="blog/post" resource="Balance_Blog::post"/>
    </menu>
</config>